<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
			  <h3>Arenas</h3>
			</div>
			<div class="list-group">
				{{#each model as |arena|}}
					{{#if arena.mock}}
						{{arena-item arena=arena}}
					{{/if}}
				{{/each}}
			</div>
		</div>
	</div>
	{{yield}}	
</div>